@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --carbon-black: #1f2421;
  --stormy-teal: #216869;
  --sea-weed: #49a078;
  --muted-teal: #9cc5a1;
  --alabaster-grey: #dce1de;
}

body {
  font-family: "Poppins";
  color: var(--carbon-black);
}

#plano-card {
  background-image: linear-gradient(
    to top,
    var(--stormy-teal),
    var(--sea-weed)
  );
}
